name: Release

on:
  release:
    types: [published]

jobs:
  build:
    name: "Release"
    env:
        ASPNETCORE_ENVIRONMENT: "Production"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

    - name: Restore Nuget Packages
      run: dotnet restore EstateReportingAPI.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}

    - name: Build Code
      run: dotnet build EstateReportingAPI.sln --configuration Release

    - name: Run Unit Tests
      run: |
        echo "ASPNETCORE_ENVIRONMENT are > ${ASPNETCORE_ENVIRONMENT}"
        dotnet test "EstateReportingAPI.Tests\EstateReportingAPI.Tests.csproj"      
        
    - name: Publish Images to Docker Hub - Pre Release
      if: ${{ github.event.release.prerelease == true }} 
      run: |
        docker build . --file EstateReportingAPI/Dockerfile --tag stuartferguson/estatereportingapi:dev
        docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
        docker push stuartferguson/estatereportingapi:dev

    - name: Publish Images to Docker Hub - Formal Release
      if: ${{ github.event.release.prerelease == false }} 
      run: |
        docker build . --file EstateReportingAPI/Dockerfile --tag stuartferguson/estatereportingapi:latest
        docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
        docker push stuartferguson/estatereportingapi:latest

    - name: Publish API
      if: ${{ github.event.release.prerelease == false }} 
      run: dotnet publish "EstateReportingAPI\EstateReportingAPI.csproj" --configuration Release --output publishOutput -r win-x64 --self-contained

    - name: Build Release Package
      run: |
         cd /home/runner/work/EstateReportingAPI/EstateReportingAPI/publishOutput
         zip -r ../estatereportingapi.zip ./*

    - name: Upload the artifact
      uses: actions/upload-artifact@v4.4.0
      with:
        name: estatereportingapi
        path: estatereportingapi.zip
        
    - name: Build and Publish Nuget Packages
      if: ${{ github.event.release.prerelease == false }} 
      run: |
        dotnet pack "EstateReportingAPI.Client\EstateReportingAPI.Client.csproj" /p:PackageVersion=${{ steps.get_version.outputs.VERSION }} --output Nugets -c Release            
        dotnet nuget push Nugets/EstateReportingAPI.Client.${{ steps.get_version.outputs.VERSION }}.nupkg --api-key ${{ secrets.PRIVATEFEED_APIKEY }} --source ${{ secrets.PRIVATEFEED_URL }} --skip-duplicate

  deploystaging:
    runs-on: [stagingserver, windows]
    needs: build
    environment: staging
    name: "Deploy to Staging"
    
    steps:
      - name: Download the artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: estatereportingapi
  
      - name: Remove existing  Windows service
        run: |
          $serviceName = "Transaction Processing - Estate Reporting"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          }
  
      - name: Unzip the files
        run: |
          Expand-Archive -Path estatereportingapi.zip -DestinationPath "C:\txnproc\transactionprocessing\estatereportingapi" -Force
  
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Estate Reporting"
          $servicePath = "C:\txnproc\transactionprocessing\estatereportingapi\EstateReportingAPI.exe"
                   
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description $serviceName -DisplayName $serviceName -StartupType Automatic
          Start-Service -Name $serviceName

  deployproduction:
    runs-on: [productionserver, windows]
    needs: [build, deploystaging]
    environment: production
    name: "Deploy to Production"
    
    steps:
      - name: Download the artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: estatereportingapi
  
      - name: Remove existing  Windows service
        run: |
          $serviceName = "Transaction Processing - Estate Reporting"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          }
  
      - name: Unzip the files
        run: |
          Expand-Archive -Path estatereportingapi.zip -DestinationPath "C:\txnproc\transactionprocessing\estatereportingapi" -Force
  
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Estate Reporting"
          $servicePath = "C:\txnproc\transactionprocessing\estatereportingapi\EstateReportingAPI.exe"
                   
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description $serviceName -DisplayName $serviceName -StartupType Automatic
          Start-Service -Name $serviceName
